<div class="grid m-0 h-full align-content-start" style="overflow:scroll">
    <nav class="col-12 navbar navbar-expand-lg navbar-light bg-blue-100 p-5">
        <a class="navbar-brand text-white font-bold" href="#">Donateer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/mission">Our Mission</a>
                </li>
                <li class="nav-item">
                    <a pButton pRipple type="button" label="Get Involved"
                        class="p-button-warning ml-3 mr-3 text-black-alpha-90 text-xs" href="/donate"></a>
                </li>
                <li>
                    <a type="button" href="/profile">
                        <p-avatar icon="pi pi-user" styleClass="ml-5 mr-2 mt-1"
                            [style]="{'background-color':'#012269', 'color': '#ffffff'}" shape="circle"></p-avatar>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="grid col-12 p-7 pb-0">
        <div class="grid col-12 lg:col-7">
            <div class="col-12">
                <h4 class="text-4xl font-semibold">Donate Now</h4>
            </div>
            <div class="grid p-fluid col-12 lg:col-10">
                <div class="col-12">
                    <span>
                        The SPCA is not funded by the government. Relying mainly on kind donations from the public and fundraising to support
                        the shelter and clinic, inspectorate work and animal rescue services, as well as other initiatives such as our foster
                        care programme, sterilisation programme for community animals, and education and outreach efforts.
                        <br><br>
                        Why not contribute some income earned from your job to support the animals?
                        <br><br>
                    </span>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit(form)" class="grid">
                    <div class="field col-12">
                        <span class="p-float-label">
                            <p-calendar formControlName="startDate" [showIcon]="true" [minDate]="today"
                                [readonlyInput]="true" inputId="startDate">
                            </p-calendar>
                            <label for="startDate">Start date</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-6">
                        <span class="p-float-label">
                            <p-calendar formControlName="startTime" [showTime]="true" [timeOnly]="true"
                                [minDate]="today" [readonlyInput]="true" inputId="startTime"
                                (onSelect)="onChangeStartTime($event)">
                            </p-calendar>
                            <label for="startDate">Start time</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-6">
                        <span class="p-float-label">
                            <p-calendar formControlName="endTime" [showTime]="true" [timeOnly]="true"
                                [minDate]="startDate" [readonlyInput]="true" inputId="endTime"
                                (onSelect)="onChangeEndTime($event)">
                            </p-calendar>
                            <label for="endTime">End time</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-12">
                        <p-button label="Continue"></p-button>
                    </div>
                </form>
            </div>
        </div>
        <div class="grid col-12 lg:col-5" style="justify-content: center;">
            <img src="assets/donate.png" class="fade-in-image" alt="Image" width="250"
                style="min-width: 85%; min-height: 85%">
        </div>
    </div>
</div>