<!-- Top navigation -->
<div class="grid m-0 align-content-start backgroundImage" style="height: 65%">
    <nav class="col-12 navbar navbar-expand-lg navbar-light bg-blue-100 p-5">
        <a class="navbar-brand text-white font-bold" href="#">Donateer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Our Mission</a>
                </li>
                <li class="nav-item">
                    <a pButton pRipple type="button" label="Get Involved"
                        class="p-button-warning ml-3 mr-3 text-black-alpha-90 text-xs" href="/donate"></a>
                </li>
                <li>
                    <a type="button" href="/profile">
                        <p-avatar icon="pi pi-user" styleClass="ml-5 mr-2 mt-1"
                            [style]="{'background-color':'#012269', 'color': '#ffffff'}" shape="circle"></p-avatar>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="grid col-12 p-7">
        <h4 class="text-3xl font-semibold col-12">Our Mission</h4>
        <p class="p-3">[insert description here]</p>
    </div>
</div>