<div class="grid m-0 h-full backgroundImage">
  <div class="col-7"></div>
  <div class="col-5 displayTable flex justify-content-center align-items-center ">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <div class="authBlock">
        <div style="
        display: flex;
        justify-content: center;
        ">
          <img src="assets/auth_image.png" alt="Image" width="250">
        </div>
        <h4>Step 1/2: <br/>Enter your details to create an account</h4>
        <div class="formGroup">
          <input type="text" class="formControl" formControlName="email" placeholder="Email" required>
          <small class="p-error block" *ngIf="errorLogin">Email must not be empty.</small>
        </div>
        <div class="formGroup">
          <input type="password" class="formControl" formControlName="password" placeholder="Password" required>
          <small class="p-error block" *ngIf="errorLogin">Password must not be empty.</small>
        </div>
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Continue">
        </div>
        
      </div>
      <div class="redirectToLogin">
        <span>Already have an account?
          <span class="redirect" routerLink="/sign-in">Log In</span></span>
      </div>
    </form>
  </div>
</div>