<div class="grid m-0 h-full align-content-start" style="overflow:scroll">
    <nav class="col-12 navbar navbar-expand-lg navbar-light bg-blue-100 p-5">
        <a class="navbar-brand text-white font-bold" href="#">Donateer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/mission">Our Mission</a>
                </li>
                <li class="nav-item">
                    <a pButton pRipple type="button" label="Get Involved"
                        class="p-button-warning ml-3 mr-3 text-black-alpha-90 text-xs" href="/donate"></a>
                </li>
                <li>
                    <a type="button" href="/profile">
                        <p-avatar icon="pi pi-user" styleClass="ml-5 mr-2 mt-1"
                            [style]="{'background-color':'#012269', 'color': '#ffffff'}" shape="circle"></p-avatar>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="grid col-12 p-7 pb-0">
        <div class="grid col-12 lg:col-7">
            <div class="col-12">
                <h4 class="text-4xl font-semibold">Payment Details</h4>
            </div>
            <div class="col-12 lg:col-10">
                <span>You have selected
                <br>
                Date: {{ donationDetails.date }}
                <br>
                Time: {{ donationDetails.start }} - {{ donationDetails.end }}
                <br><br>
                This corresponds to ${{ donationDetails.donatedAmount }}.
                <br><br><br><br>
                Thank you for your donation and caring for our animal friends. Your kind donation will directly impact upon our operations in providing shelter, food, medical attention and love to
                the rescued animals that walk through our doors each day.
                </span>
            </div>
            <div id="paypalButton" class="col-7"></div>
        </div>
        <div class="grid col-12 lg:col-5" style="justify-content: center;">
            <img src="assets/donate.png" class="fade-in-image" alt="Image" width="250"
                style="min-width: 85%; min-height: 85%; max-height: 100%; max-width: 100%">
        </div>
    </div>
</div>