<div class="grid m-0 h-full backgroundImage">
  <div class="col-7"></div>
  <div class="col-5 displayTable flex justify-content-center align-items-center ">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <div class="authBlock">
        <div style="
        display: flex;
        justify-content: center;
        ">
          <img src="assets/auth_image.png" alt="Image" width="250">
        </div>
        <h4>Welcome back.<br/>Login to your account</h4>
        <div class="formGroup">
          <input type="text" class="formControl" formControlName="email" placeholder="Email address" required>
          <small class="p-error block" *ngIf="errorLogin">Email is wrong.</small>
        </div>
        <div class="formGroup">
          <input type="password" class="formControl" formControlName="password" placeholder="Password" required>
          <small class="p-error block" *ngIf="errorLogin">Password is wrong.</small>
        </div>
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Log in">
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">OR</span></span>
        </div>
        <!-- Calling GoogleAuth Api from AuthService -->
        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="pi pi-google"></i>
            Continue with Google
          </button>
        </div>
        <!-- 
        <div class="forgotPassword">
          <span routerLink="/forgot-password">Forgot Password?</span>
        </div>
         -->
        
      </div>
      <div class="redirectToLogin">
        <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
      </div>
    </form>
  </div>
</div>